{
	admin off

	# Set servers to use forwarded headers from proxies
	servers {
		trusted_proxies static private_ranges
	}

	# Global options for FrankenPHP
	frankenphp {
		worker {
			file public/frankenphp-worker.php
			num 1
		}
	}
}

:8080 {
	log {
		level INFO
		format console
	}

	root * public
	encode zstd br gzip

	php_server {
		index frankenphp-worker.php
		try_files {path} frankenphp-worker.php
		resolve_root_symlink
	}
}
