parameters:
    level: 5
    paths:
        - app
    excludePaths:
        - app/Http/Middleware/VerifyCsrfToken.php
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\.*#'
        - '#Access to an undefined property Illuminate\\.*#'
    bootstrapFiles:
        - bootstrap/autoload.php
    checkGenericClassInNonGenericObjectType: false
